<!-- templates/phone_manager/index.html -->
{% extends 'base.html' %}
{% block title %}  設備清單 {% endblock %}
{% block content %}
    <!-- 原本的手機清單資料 -->
    <a class="btn btn-primary" href="{% url 'export_csv' %}">Export CSV</a>
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Brand</th>
                <th scope="col">Model</th>
                <th scope="col">Price</th>
                <th scope="col">Description</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for phone in phones %}
            <tr>
                <td>{{ phone.brand }}</td>
                <td>{{ phone.model_name }}</td>
                <td>${{ phone.price }}</td>
                <td>{{ phone.description }}</td>
                <td>
                    <a class="btn btn-primary btn-sm" href="{% url 'phone_update' phone.pk %}">Edit</a>
                    <a class="btn btn-danger btn-sm" href="{% url 'phone_delete' phone.pk %}">Delete</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
     <a class="btn btn-success" href="{% url 'phone_create' %}">Add New Phone</a>
{% endblock %}